---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

import FormattedDate from "../../components/FormattedDate.astro";
import HeaderLink from "../../components/HeaderLink.astro";
import "../../styles/article.css";

import { YOUTUBE_CHANNEL, SPOTIFY_CHANNEL, APPLE_CHANNEL } from "../../consts";
import YouTube from '../../components/svg/icons/YouTube.astro';
import Spotify from '../../components/svg/icons/Spotify.astro';
import ApplePodcasts from '../../components/svg/icons/ApplePodcasts.astro';

import Up from '../../components/svg/icons/Up.astro'
import Share from '../../components/svg/icons/Share.astro'

type Props = CollectionEntry<'books'>;

export async function getStaticPaths() {
	const books = await getCollection('books');
	return books.map((book) => ({
		params: { slug: book.slug },
		props: book,
	}));
}

const book = Astro.props;
const { Content } = await book.render();

const books = (await getCollection('books')).sort(
	(a, b) =>  a.data.pubDate.valueOf() - b.data.pubDate.valueOf() 
);

const highlightBookColor = book.data.highlightColor;
---

<style define:vars={{ highlightBookColor }}></style>

<Layout {...book.data} title={`${book.data.title}, by ${book.data.bookAuthor} | Books You Could Read!`}>
	<main>
		<HeaderLink href={`/books#${(book.data.title).toLowerCase().replace(/\s+/g, '-')}`}`} class="back" title="Return to Books">
			<span></span>
			<p>Check more books</p>
		</HeaderLink>
		<div class="hero flex">
			<div class="heading_ctnr">

				<h1 class={String(book.data.title).length < 6 ? "title big" : "title"}>
					<span>
						<span class="book_title">{book.data.title}</span><span class="comma">,</span>
					</span>
					<span class="small">by 
						<span class="authorship">{book.data.bookAuthor}</span>
					</span>
				</h1>

				<div class="link_ctnr">
					{book.data.youTubeLink ? (
						<a href={book.data.youTubeLink} class="icon" target="_blank" title="Listen on YouTube">
							<YouTube/>
						</a>
					) : null}

					{book.data.spotifyLink ? (
						<a href={book.data.spotifyLink} class="icon" target="_blank" title="Listen on Spotify">
							<Spotify/>
						</a>
					) : null}

					{book.data.applePodcastsLink ? (
						<a href={book.data.applePodcastsLink} class="icon" target="_blank" title="Listen on Apple Podcasts">
							<ApplePodcasts/>
						</a>
					) : null}
				</div>
			</div>
			{
				book.data.coverImage ? (
					<img
						width={720}
						height={720}
						src={book.data.coverImage}
						alt="book-cover-art"
					/>
				) : null
			}
		</div>
		<!-- <FormattedDate date={pubDate} /> -->
		{
			book.data.updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={book.data.updatedDate} />
				</div>
			)
		}
		<div class="content_ctnr">
			<article>
				<Content />
			</article>

			<div class="embed_ctnr">

				{String(book.data.spotifyEmbedURL).startsWith('http') ? <iframe style="border-radius:12px" src={book.data.spotifyEmbedURL} width="100%" height="152" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> : ""}
				
				{String(book.data.applePodcastsEmbedURL).startsWith('http') ? <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%; overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src={book.data.applePodcastsEmbedURL}></iframe> : ""}
				
			</div>
		</div>
	</main>

	<div class="bottom_bts">
		<div class="share" role="button">
			<div class="anchors">
				<div class="ctnr">
					<span class="heading">Share on...</span>

					<a href={`https://www.facebook.com/sharer.php?u=${Astro.url}`} aria-label="Share on Facebook">Facebook</a>

					<hr>

					<a href={`https://twitter.com/intent/tweet
						?url=${Astro.url}`} aria-label="Share on Twitter">Twitter</a>
					
					<hr>
					
					<a href={`https://www.linkedin.com/sharing/share-offsite/?url=${Astro.url}`} aria-label="Share on LinkedIn">LinkedIn</a>
				</div>
			</div>

			<Share/>
		</div>

		{String(book.data.affiliateLink).startsWith('http') ? <a href={book.data.affiliateLink} target="_blank" rel="noopener noreferrer" class="affiliate_link external" title="You will be taken to Amazon" aria-label="Buy this book">Like it? Buy it! Read it!</a> : ""}

		<a href="#start" class="back_to_top" title="back to top" aria-label="back to top">
			<Up/>
		</a>
	</div>
</Layout>


<script is:inline>
	const backTopBt = document.querySelector('.back_to_top')

	let scroll;
	scroll = window.scrollY;

	const windowHeight = window.innerHeight

	window.addEventListener('scroll', function() {
		scroll = window.scrollY;

		if(scroll > windowHeight) {
			backTopBt.classList.add('show')
		} else {
			backTopBt.classList.remove('show')
		}
	})
</script>